<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Test</title>
	</head>
	
	<body>
	
		<header>
			<h1 style="background-color: aquamarine;text-align: center; padding: 1%;">GRUPO 13</h1>
			<img alt="Palomo" src="../static/Images/palomo.jpg" title="ashei">
		</header>
	
		<nav>
			<ul>
				<a href="index.html">Inicio</a></br>
				<a href="Agenda.html">Agenda</a></br>
				<a href="Beneficios.html">Beneficios y becas</a></br>
				<a href="contacto.html">Contactanos </a></br>
			</ul>
		</nav>
		</br>
		<section>
			<h4>Cursos con inscripcion abierta</h4>
			<ol>
				<a>1 Idiomas</a></br>
				<a>2 Disenio</a></br>
				<a>3 Desarrollo</a></br>
				<a>4 Marketing</a></br>
				<a>5 Conferencias</a></br>
			</ol>
		</section>
		
		<footer>
			<p style="background-color: blueviolet;text-align: center;padding: 1%;"> 2022. Portal de Capacitacion - Av. Gral. Manuel Belgrano 789 - Telefono (388) 999999 S. S. de Jujuy Republica
Argentina. </p>
		</footer>		
	</body>
	
</html>

<!-- PRUEBA COMMIT AND PUSH